// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.to_right {
    float:right;
}
.default_margin {
    margin-left: 10px;
}

#loader {
    position: absolute;
    width: 100%;
    height: 150%;
    background: rgba(0, 0, 0, 0.8)  url('/assets/loader.gif') no-repeat center 250px;
    left: 0;
    top: 0;
    z-index: 20000;
    display: none;

}